appdirs==1.4.4
appnope==0.1.0
audioread==2.1.9
backcall==0.1.0
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
click==7.1.2
console==0.98
cycler==0.10.0
decorator==4.4.1
ezenv==0.91
Flask==1.1.2
Flask-Cors==3.0.9
idna==2.10
ipython==7.11.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.11.2
joblib==1.0.1
kiwisolver==1.1.0
librosa==0.8.0
llvmlite==0.36.0
MarkupSafe==1.1.1
matplotlib==3.3.3
numba==0.53.1
numpy==1.18.1
packaging==20.9
paho-mqtt==1.5.0
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.0.1
pooch==1.3.0
prompt-toolkit==3.0.2
ptyprocess==0.6.0
PyAudio==0.2.11
pycparser==2.20
Pygments==2.5.2
pyparsing==2.4.6
python-dateutil==2.8.1
pyusb==1.0.2
PyWavelets==1.1.1
redis==3.5.3
requests==2.24.0
resampy==0.2.2
scikit-learn==0.24.2
scipy==1.5.4
six==1.13.0
sounddevice=0.4.1
SoundFile==0.10.3.post1
threadpoolctl==2.1.0
traitlets==4.3.3
urllib3==1.25.10
wcwidth==0.1.8
Werkzeug==1.0.1
